<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-10">
          <div class="about-content">
              <h2 style="padding-top: 5%;">Happy message</h2>
              <h4 style="font-style: italic; padding-top: 3%;">Its been a good Journey with you my dear friend!!</h4>
              <h5 style="font-style: inherit;">Good Luck with your future endeavours</h5>
              <p>It was indeed great pleasure working with you,<br>
                I really appreciate and cherish your help you've accomplished!<br>
                I'm sure you'll reach great heights of success<br>
                I wish you all the very bestt!
              </p>
              <br>
              <br>
              <br>
              <br>
              <p> Happy to meet you soon cheers :)</p>
            </div>
            <footer class="page-footer font-small blue" style="padding-top: 20%;">
              <div class="footer-copyright text-center">Bhanuchandark © 2021
                <a href="https://www.linkedin.com/in/bhanuchandark101/" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </footer>
      </div>
      
  </div>
  <!-- <div class="col-lg-2 col-md-1 wow fadeInUp" style="float: right; padding-left: 2%;" data-wow-delay="0.2s">
    <div class="member">
        <img src="../../assets/bhanu.jpeg" style= "border-radius: 50%;" class="img-fluid" alt="">
    </div>
</div> -->

</div>