<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-10">
          <div class="about-content">
              <h2 style="padding-top: 5%;">Happy message</h2>
              <h4 style="font-style: italic; padding-top: 3%;">Its been a good Journey with you my dear friend!!</h4>
              <h5 style="font-style: inherit;">Good Luck with your future endeavours</h5>
              <p>It was indeed great pleasure working with you dear,<br>
                I really appreciate and cherish your help you've accomplished, I will be missing you so much and your tone,<br>
                All the very bestt!
              </p>
              <p>This goodbye is not a sign of me departing from your life forever,<br>
                instead its a silent message of saying that you'll be dearly missed and hope to see you soon again :)
              </p>
            </div>
      </div>
  </div>
  <div class="col-lg-2 col-md-1 wow fadeInUp" style="float: right; padding-left: 2%;" data-wow-delay="0.2s">
    <div class="member">
        <img src="../../assets/bhanu.jpeg" style= "border-radius: 50%;" class="img-fluid" alt="">
    </div>
</div>
</div>